{% extends 'shared/layout.html' %}

{% block title %}Christopher Kocher - Projects{% endblock %}

{% block maincontent %}
<section class="purpose">
    <h2 id="project-title">Projects from CSE 477:</h2>
    <p>Click an image or hyperlink in the description to learn more.</p>
</section>

<hr class="separation-line">

<div class="row">
    <div class="picture">
        <a href="/piano">
            <img src="{{ url_for('static', filename='main/images/piano.jpeg') }}" alt="JavaScript Piano Preview" loading="lazy">
        </a>
    </div>
    <section class="description">
        <h2>JavaScript Piano</h2>
        <p>
            As part of my first homework assignment in CSE 477, I developed an interactive piano 
            built using pure HTML, CSS, and JavaScript. This tool, along with my webpage, highlights 
            my ability to create beautiful and mobile-friendly front-end applications.  
            <a href="/piano">Click here to see, and play!</a>
        </p>
    </section>
</div>
{% endblock %}
