{% extends 'shared/layout.html' %}

{% block title %}Christopher Kocher - Home{% endblock %}

{% block maincontent %}
<div class="row">
  <div class="picture">
      <img src="{{ url_for('static', filename='main/images/portrait.jpg') }}" alt="Portrait of Christopher Kocher" loading="lazy">
  </div>

  <section class="description">
    <h1>Christopher Kocher</h1>
    <p>
        Hello! My name is Christopher Kocher, and I am a senior at Michigan State University studying Computer Science.
        I'm from Norwalk, Ohio, and was born in Clarksburg, West Virginia.
    </p>

    <p>
        I am graduating this semester and plan on attending law school in the fall. The five law schools I applied to are Ohio State, North Carolina, South Carolina, Georgia, and Texas A&M.
        I plan on studying Intellectual Property Law, hopefully somewhere with better weather.
    </p>

    <p>
        I completed an internship at Ideal Innovations Incorporated, where I worked on a project creating a web application that allows users to upload images for facial recognition analysis.
        I also assisted with patent research and analysis for the company.
    </p>

    <p>
        I am also a track athlete, specializing in discus and javelin. I have been throwing since 7th grade and started javelin during my freshman year of college.
    </p>
  </section>
</div>

<!-- Line break between description and fun fact -->
<hr class="separation-line">

<div class="fun-fact">
  <h2 id="fun-fact-title">Fun Fact About Myself</h2>
  <p id="fun-fact-description">I speak German.</p>
</div>
{% endblock %}
