{% extends 'shared/layout.html' %}

{% block title %}Christopher Kocher - JavaScript Piano{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/piano.css') }}">
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='main/js/piano.js') }}" defer></script>
{% endblock %}

{% block maincontent %}
<div class="poem">
    <p>"Behold, piano great and old, its master slumbers in far-off cold. If you wish to see anew, call out to it - we see you."</p>
</div>

<div class="piano" id="piano">
    <div class="title">
        <p>The Great Old One</p>
    </div>

    <!-- White keys -->
    <div class="keys">
        <div class="white-key" id="a-key"><span class="note">A</span></div>
        <div class="white-key" id="s-key"><span class="note">S</span></div>
        <div class="white-key" id="d-key"><span class="note">D</span></div>
        <div class="white-key" id="f-key"><span class="note">F</span></div>
        <div class="white-key" id="g-key"><span class="note">G</span></div>
        <div class="white-key" id="h-key"><span class="note">H</span></div>
        <div class="white-key" id="j-key"><span class="note">J</span></div>
        <div class="white-key" id="k-key"><span class="note">K</span></div>
        <div class="white-key" id="l-key"><span class="note">L</span></div>
        <div class="white-key" id="semi-key"><span class="note">;</span></div>

        <!-- Black keys -->
        <div class="black-key" id="w-key"><span class="note">W</span></div>
        <div class="black-key" id="e-key"><span class="note">E</span></div>
        <div class="black-key" id="t-key"><span class="note">T</span></div>
        <div class="black-key" id="y-key"><span class="note">Y</span></div>
        <div class="black-key" id="u-key"><span class="note">U</span></div>
        <div class="black-key" id="o-key"><span class="note">O</span></div>
        <div class="black-key" id="p-key"><span class="note">P</span></div>
    </div>

    <!-- The Great Old One Image -->
    <div class="great-old-one" id="great-old-one">
        <img src="{{ url_for('static', filename='main/images/great-old-one.jpeg') }}" alt="The Great Old One" loading="lazy">
    </div>
</div>
{% endblock %}
